<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="/calculator.js"></script>

</head>
<body class="container" ng-controller="">
    <h1>Calculator</h1>
    <br>
    <p> 
    Oper 1 <input type="text" size="30" >
    </p>
    <br>
    <p> 
    Oper 2 <input type="text" size="30" >
    </p>

    <p>
   <button type="button" ng-click="firstCtrl.clearText()" >ADD</button>
   {{addCtrl.myval}}</p>


</body>
</html>