<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="/index.js"></script>

</head>
<body class="container" ng-controller="FirstCtrl as firstCtrl">
    <h1>{{ firstCtrl.myText }}</h1>
    <h2>{{ firstCtrl.reverseMyText }}</h2>
    <br>    
    <input type="text" size="30" placeholder="Enter Text" ng-model="firstCtrl.myText">    
    <button type="button" ng-click="firstCtrl.reverseText()" >Reverse</button>
    <button type="button" ng-click="firstCtrl.clearText()" >Clear Text</button>

</body>


</html>